parameters:
    level: 8
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    parallel:
        jobSize: 20
        processTimeout: 180.0
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: "#^Parameter \\#2 \\$attributes of class League\\\\CommonMark\\\\HtmlElement constructor expects array\\<string\\>, array\\<string, bool\\|int\\|string\\> given\\.$#"
            count: 1
            path: src/Renderer.php
        -
            message: "#^Cannot call method (getType|getUuid|getTimestamp|getWidth|getHeight)\\(\\) on [A-Za-z\\\\]+\\\\Url\\\\Url\\|null\\.$#"
            path: tests/Unit/Url

