parameters:
    level: 8
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    parallel:
        jobSize: 20
        processTimeout: 180.0
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: "#^Cannot call method (getType|getUuid|getTimestamp|getWidth|getHeight)\\(\\) on [A-Za-z\\\\]+\\\\Url\\\\Url\\|null\\.$#"
            path: tests/Unit/Url

